.form:not(:last-child) {
  margin-bottom: 11px;
}

.form__subheading {
  width: 165px;
  padding: 5px 0;
  margin-bottom: 3px;

  font-family: $lab-grotesque-medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  &--short {
    width: 150px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &--tags {
    margin-bottom: 20px;
  }
}

.form__tags-wrapper {
  display: flex;
  margin-bottom: 38px;
}

.form__label {
  position: relative;
  display: flex;
  height: 57px;
  align-items: center;

  border-bottom: 1px solid $grey-blue;

  &--tag {
    align-items: flex-start;

    width: auto;
    height: auto;
    border: 0;
  }
}

.form__input {
  display: block;
  width: 288px;
  height: 40px;
  padding: 8px 10px 8px 10px;
  margin-bottom: 9px;

  line-height: 24px;
  color: $black;

  border: 1px solid $grey-blue;
  border-radius: 3px;

  outline: none;

  &::placeholder {
    color: $grey-light;
  }

  &:hover {
    border-color: $black;
  }

  &:focus {
    color: $black;
    border-color: $grey-blue;
  }

  &:disabled {
    border-color: $grey;
    background-color: transparent;

    &::placeholder {
      color: $grey;
    }
  }

  &--box {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 11px;
    padding: 0;

    border-radius: 6px;
    cursor: $cursor-path;
  }

  &--tag {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    min-width: 57px;
    height: 36px;
    margin: 0;
    margin-right: 11px;
    padding: 0;

    border-radius: 6px;
    cursor: $cursor-path;
  }
}

.form__tooltip {
  display: none;
  min-height: 12px;
  margin: 0;
  padding: 4px 0 4px 0;
  font-size: 10px;
  line-height: 12px;
  color: $crimson;
}

.invalid {
  border-color: $crimson;
  color: $crimson;

  &::placeholder {
    color: $crimson;
  }

  &:hover {
    color: $crimson;
    border-color: $crimson;
  }

  &:focus {
    color: $crimson;
    border-color: $crimson;
  }

  & + .form__tooltip {
    display: block;
  }
}

.form__input-hidden:checked + .form__input--box {
  background: $crimson-gradient;
  background-color: $crimson;
  border: 0;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 2px;

    display: block;
    width: 14px;
    height: 7px;
    background-color: transparent;

    border: 2px solid $white;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
  }
}

.form__input-hidden:disabled + .form__input--box {
  background: $grey-light;
  border: 0;
}

.form__input-hidden + .form__input--tag {
  padding: 6px 12px;
  margin-right: 8px;

  font-size: 14px;

  background-color: $grey-white;
  border: 0;
  border-radius: 50px;

  &:hover {
    background-color: $grey-blue;
  }

  &:active {
    color: $white;

    background: $crimson-gradient;
    background-color: $crimson;
  }
}

.form__input-hidden:checked + .form__input--tag {
  color: $white;

  background: $crimson-gradient;
  background-color: $crimson;
}


.from__control-set:not(:last-child) {
  margin-bottom: 20px;
}

.form__text {
  margin-right: 3px;

  &--pale {
    color: $grey;
  }
}
