$lab-grotesque: "lab-grotesque", "Arial", sans-serif;
$lab-grotesque-medium: "lab-grotesque-medium", "Arial", sans-serif;

$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.3);
$grey: #808080;
$grey-light: #bec5cc;
$grey-white: #eef0f2;
$grey-blue: #dfe3e6;
$white: #ffffff;
$crimson: #ea0029;
$orange: #f53a31;
$red-intense: #ea0029;
$crimson-gradient: linear-gradient(255deg, #dc3131 0%, #ff4f4f 100%);
$red-shadow: 0 0 24px rgba(234, 0, 41, 0.33);

$cursor-path: url("/assets/img/cursor-hand.svg"), pointer;

$tablet-width: 768px;
$desktop-width: 1440px;
